WCFTrialExam/Teachers/02_WCF_PracticeExam_01/TestClient/Connected Services/AuctionService/AuctionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuctionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3340/AuctionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3340/AuctionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3340/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_02_WCF_PracticeExam_01" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuctionService_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemById" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_GetItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_MakeBid_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeBid" />
  </wsdl:message>
  <wsdl:message name="IAuctionService_MakeBid_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeBidResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuctionService">
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetAllItems" message="tns:IAuctionService_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetAllItemsResponse" message="tns:IAuctionService_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/GetItemById" message="tns:IAuctionService_GetItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/GetItemByIdResponse" message="tns:IAuctionService_GetItemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeBid">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuctionService/MakeBid" message="tns:IAuctionService_MakeBid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuctionService/MakeBidResponse" message="tns:IAuctionService_MakeBid_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuctionService" type="tns:IAuctionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllItems">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetAllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/GetItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeBid">
      <soap:operation soapAction="http://tempuri.org/IAuctionService/MakeBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuctionService">
    <wsdl:port name="BasicHttpBinding_IAuctionService" binding="tns:BasicHttpBinding_IAuctionService">
      <soap:address location="http://localhost:3340/AuctionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>