WCFTrialExam/Teachers/02_WCF_PracticeExam_01/TestClient/Connected Services/AuctionService/AuctionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3340/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/_02_WCF_PracticeExam_01" />
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/_02_WCF_PracticeExam_01" minOccurs="0" name="GetAllItemsResult" nillable="true" type="q1:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/_02_WCF_PracticeExam_01" minOccurs="0" name="GetItemByIdResult" nillable="true" type="q2:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/_02_WCF_PracticeExam_01" minOccurs="0" name="bid" nillable="true" type="q3:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>